.node-red/.flows.json.backup
[
    {
        "id": "67186e70.55671",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "4b51dce7.bc92b4",
        "type": "connection-config",
        "z": "",
        "name": "Insert",
        "consumerKey": "3MVG9HxRZv05HarRhyDRlkI39o.YPKfW5mdtUML1MGHugDoor8qwpX46jt0DHz0DIKsievWzaoEHnUe6TjSwu",
        "consumerSecret": "7842800945916168755",
        "callbackUrl": "https://login.salesforce.com/services/oauth2/success",
        "environment": "production",
        "username": "serhiy.kolesnyk@4front.se.podev",
        "password": "Zxvsym33sJ5iRWUGATWUKxI0ALAei3qqeJ"
    },
    {
        "id": "d1d496e1.6ebf38",
        "type": "slack",
        "z": "67186e70.55671",
        "name": "NoderedToSlack",
        "channelURL": "https://hooks.slack.com/services/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",
        "username": "Node-RED",
        "emojiIcon": "",
        "channel": "",
        "x": 1500,
        "y": 40,
        "wires": []
    },
    {
        "id": "a9b82922.42e8e8",
        "type": "e-mail in",
        "z": "67186e70.55671",
        "name": "PO-Test",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "port": "993",
        "box": "INBOX",
        "disposition": "Read",
        "repeat": "30",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "d81cc1d3.5a98f"
            ]
        ]
    },
    {
        "id": "9989a9a3.9bea78",
        "type": "debug",
        "z": "67186e70.55671",
        "name": "attachments content",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1240,
        "y": 120,
        "wires": []
    },
    {
        "id": "d81cc1d3.5a98f",
        "type": "function",
        "z": "67186e70.55671",
        "name": "decodeContent",
        "func": "\n// var arrOfUTFStrings = msg.attachments.map(function(attch) {\n//     return attch.content.toString('UTF-8');\n// });\n// var buf = Buffer.from(msg.attachments[0].content, \"base64\");\n// let json = JSON.stringify(buf);\n// msg.ccc = buf.toJSON();\n// node.log(json);\n// json = JSON.parse(json);\n\n// msg.payload = arrOfUTFStrings;\n// arrOfUTFStrings.forEach((UTFString) => {\n//     msg.payload = UTFString;\n//     func(msg);\n//     return msg;\n// });\n\nvar buf = msg.attachments[0].content;\n\nvar contentToStr = buf.toString();\n\nmsg.payload = contentToStr;\n\nreturn msg;\n\n\n    ",
        "outputs": "1",
        "noerr": 0,
        "x": 780,
        "y": 120,
        "wires": [
            [
                "2425473d.d0f4f8"
            ]
        ]
    },
    {
        "id": "2425473d.d0f4f8",
        "type": "csv to json ext",
        "z": "67186e70.55671",
        "name": "",
        "version": "0.1",
        "source": "payload",
        "delimiter": ",",
        "quote": "\"",
        "escape": "\"",
        "ignoreEmpty": false,
        "checkType": false,
        "trim": false,
        "noheader": false,
        "includeColumns": "",
        "headers": "",
        "debug": false,
        "x": 990,
        "y": 240,
        "wires": [
            [
                "9989a9a3.9bea78"
            ]
        ]
    },
    {
        "id": "736b8dba.b3ee94",
        "type": "dml",
        "z": "67186e70.55671",
        "name": "Save to Salesforce",
        "object": "Account",
        "action": "insert",
        "connection": "4b51dce7.bc92b4",
        "x": 990,
        "y": 360,
        "wires": [
            [
                "aff40296.872fb"
            ]
        ]
    },
    {
        "id": "9a6042ef.4a146",
        "type": "function",
        "z": "67186e70.55671",
        "name": "testAccount",
        "func": "msg.payload = {\n  name: \"Ilon Mask\",\n  AccountNumber: \"CC213425\",\n  AccountSource: \"\",\n  Active__c: \"Yes\",\n  AnnualRevenue: \"9.5E8\",\n  Fax: \"(014) 427-4428\"\n};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 360,
        "wires": [
            [
                "b06e35ab.c6c968"
            ]
        ]
    },
    {
        "id": "24775e0f.cef972",
        "type": "inject",
        "z": "67186e70.55671",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 540,
        "y": 360,
        "wires": [
            [
                "9a6042ef.4a146"
            ]
        ]
    },
    {
        "id": "b06e35ab.c6c968",
        "type": "debug",
        "z": "67186e70.55671",
        "name": "Input",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 950,
        "y": 460,
        "wires": []
    },
    {
        "id": "aff40296.872fb",
        "type": "debug",
        "z": "67186e70.55671",
        "name": "Output",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1190,
        "y": 360,
        "wires": []
    },
    {
        "id": "2d89e383.8ebacc",
        "type": "file in",
        "z": "67186e70.55671",
        "name": "",
        "filename": "content.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 778.9000244140625,
        "y": 269,
        "wires": [
            [
                "aff40296.872fb"
            ]
        ]
    },
    {
        "id": "66f4a89b.113238",
        "type": "inject",
        "z": "67186e70.55671",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 576.8999938964844,
        "y": 265.8000183105469,
        "wires": [
            [
                "2d89e383.8ebacc"
            ]
        ]
    }
]